* {
    margin: 0;
    padding: 0;
    }
    

body {
    font-family: sans-serif;
    background-color: rgb(245, 233, 158);
}

#webHead {
    background-color: palevioletred;
    padding: 3vh 0;
    margin: 0 auto;
    text-align: center;
    position:fixed;
    top:0;
    width:100%;
    height: 4.5vh;
    z-index: 2;
}

#webHead h1 {
    font-size: 6vh;
    margin-top: -1vh;
}

.webPage {
    margin-top:10.5vh;
  }

.leftPanel {
    background-color: darksalmon;
    float:left;
    width: 22.5vw;
    height: 100%;
    margin-bottom: 80px;
}

#timerSection{
    border-radius :20px;
    width:17.5vw;
    margin:1vw auto;
    padding: 0.5vw 1.5vw;
    text-align:center;
    background : lightsalmon;
}
  
#timer{ 
    color:white; 
    font-size:3.75vw; 
    margin:1vw auto;
    border : 5px solid white;
    border-radius:50%;
    width:15vw;
    height:15vw;
    overflow:hidden;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}
  
#time{
    margin-top:5vw;
    z-index : 1;
    position:relative;
}
  
#filler{
    background : tomato;
    height: 0px;
    width: 15vw;
    position:absolute;
    bottom:0;
}
  
#buttons button { 
    background:#91c5f9; 
    border:none; 
    color:#fff; 
    cursor:pointer; 
    padding:5px; 
    width:6vw; 
    margin:0.5vh auto;
    font-size:0.9vw;
    height : 3.5vw;
    border-radius : 5vw;
}
  
#buttons button#shortBreak{
    background : rgb(127, 219, 127);
}
  
#buttons button#longBreak{
    background : rgb(69, 152, 69);
}
  
#buttons button#stop{
    background : rgb(225, 77, 77);
}

.wrapper{
    width: 17.5vw;
    border-radius: 1vw;
    background: lightsalmon;
    margin:1vw auto;
    padding: 0 1.5vw 2vw;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
.wrapper header{
    padding: 3vh 0;
    margin: 0px auto;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    background-color: transparent;
}
.wrapper .search{
    position: relative;
    margin: 0 0 18px;
}
.search input{
    height: 6vh;
    width: 95%;
    outline: none;
    font-size: 1.3vw;
    padding-left: 1vw;
    border-radius: 5px;
    border: 1px solid #999;
}
.search input:focus{
    border: 2px solid #4D59FB;
}
.search input::placeholder{
    color: #B8B8B8;
}
.search :where(i, span){
    position: absolute;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
}
.search i{
    left: 18px;
    pointer-events: none;
    font-size: 16px;
}
.search input:focus ~ i{
    color: #4D59FB;
}
.search span{
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    display: none;
}
.search input:valid ~ span{
    display: block;
}
.wrapper .info-text{
    font-size: 0.9vw;
    color: black;
    margin: -3px 0 -10px;
}
.wrapper.active .info-text{
    display: none;
}
.info-text span{
    font-weight: 500;
}
.wrapper ul{
    height: 0;
    opacity: 0;
    padding-right: 1px;
    overflow-y: hidden;
    transition: all 0.2s ease;
    
}
.wrapper.active ul{
    opacity: 1;
    height: 250px;
    
}
.wrapper ul li{
    display: flex;
    list-style: none;
    margin-bottom: 14px;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    justify-content: space-between;
}
ul li:last-child{
    margin-bottom: 1.5vw;
    border-bottom: 0;
    padding-bottom: 0;
}
ul .word p{
    font-size: 22px;
    font-weight: 500;
}
ul .word span{
    font-size: 12px;
    color: #989898;
}
ul .word i{
    color: #999;
    font-size: 15px;
    cursor: pointer;
  }
  ul .content{
    max-height: 215px;
    overflow-y: auto;
  }
  ul .content::-webkit-scrollbar{
    width: 0px;
  }
  .content li .details{
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
    border-left: 3px solid #4D59FB;
    
  }
  .content li p{
    font-size: 17px;
    font-weight: 500;
  }
  .content li span{
    font-size: 15px;
    color: #7E7E7E;
  }
  .content .synonyms .list{
    display: flex;
    flex-wrap: wrap;
  }
  .content .synonyms span{
    cursor: pointer;
    margin-right: 5px;
    text-decoration: underline;
  }  

.taskformSection {
    border-radius :20px;
    font-size: 1.1vw;
    width:17.5vw;
    margin:1vw auto;
    padding: 0.5vw 1.5vw;
    line-height: 3vh;
    text-align:center;
    background : lightsalmon;
}

#taskInput {
    width:75%;
}

#dueDateInput {
    width: 60%;
}

#completionTimeInput {
    width:40%;
}

#estimatedTimeInput {
    width: 72%;
}

#priorityInput {
    width: 40%;
}

#taskSubmit {
    width: 30%;
    background-color: tomato;
    color: white;
    font-size: 1vw;
}

.rightPanel {
    float:right;
    width: 6vw;
    height: 90vh;
}

.waterContainer {
    height: 75vh;
    width: 2.75vw;
    display:block;
    margin:1.5vh auto;
    position:fixed;
}

.waterBar {
    height: 75vh;
    width: 2.75vw;
    rx: 20px;
    ry: 20px;
    fill:whitesmoke;
    opacity: 70%;
}

#water {
    position:absolute;
    bottom:0;
    height: 60vh;
    width: 2.75vw;
    rx: 20px;
    ry: 20px;
    fill:lightskyblue;
    opacity: 80%;
    transform-origin: bottom;
}

.footer {
    background-color: black;
    display:block;
    position: fixed;
    left: 0;
    bottom: 0;
    height:80px;
    width: 100%;
}

.kanban {
    height:80vh;
    width:93vw;
}

.kanbanContainer {
    width: 70%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .kanban-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
  }
  
  .kanban-heading-text {
    font-size: 1.8rem;
    background-color: tomato;
    padding: 0.8rem 1.7rem;
    border-radius: 0.5rem;
    margin: 1rem;
  }
  
  .kanban-block,
  .create-new-task-block {
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
  }
  
  #todo {
    background-color:mediumpurple;
  }
  
  #inprogress {
    background-color: powderblue;
    /* display: none; */
  }
  
  #done {
    background-color: palegreen;
    /* display: none; */
  }
  
  .task {
    background-color: white;
    margin: 0.2rem 0rem 0.3rem 0rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem 0.5rem 2rem;
  }
  
  #task-button {
    margin: 0.2rem 0rem 0.1rem 0rem;
    background-color: white;
    border-radius: 0.2rem;
    width: 100%;
    border: 0.25rem solid black;
    padding: 0.5rem 2.7rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .create-new-task-block {
    display: none;
    /* display: flex; */
    background:rgb(252, 233, 88);
    width: 64.4%;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    margin: 0.2rem;
  }
  
  .form-row-label {
    width: 15%;
    padding: 0.2rem;
    padding-right: 0.5rem;
    border: 0.1rem solid black;
    border-right: 0;
    border-radius: 0.2rem 0rem 0rem 0.2rem;
  }
  
  .form-row-input {
    border: 0.1rem solid black;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    width: 85%;
  }
  
  textarea {
    resize: none;
  }
  
  .form-row-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem;
  }
  
  #edit-button,
  #save-button,
  #cancel-button {
    margin: 0.2rem 0rem 0.1rem 0rem;
    background-color: white;
    border-radius: 0.2rem;
    width: 49.2%;
    border: 0.25rem solid black;
    padding: 0.5rem 2.7rem;
    border-radius: 0.3rem;
    font-size: 1rem;
  }
  
  #edit-button {
    display: none;
  }
  